<ion-header>
  <ion-toolbar>
    <ion-title>Beat the Intro</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <button *ngIf="questionsReady == true && playerReady == true" (click)="start()">Start</button>
  <p>{{score}}</p>
  <div *ngIf="artistAnswers == true && trackAnswers == false">
    <button *ngFor="let answer of question?.artistAnswers" (click)="submitAnswer(answer.answer, 'artist')">
      {{answer.answer}}
    </button>
  </div>
  <div *ngIf="artistAnswers == false && trackAnswers == true">
    <button *ngFor="let answer of question?.trackAnswers" (click)="submitAnswer(answer.answer, 'track')">
      {{answer.answer}}
    </button>
  </div>
</ion-content>